body, html {
  height:100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
#root, .app {
  height: 100%;
  width: 100%;
}

.home-container, .zipcode-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  flex-direction: column;
}

.zipcode-container {
  flex-direction: column;
}
.header {
  font-size: 45px;
  color: #fff;
  font-weight: 100;
  padding-bottom: 10px;
}
.city-state-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.home-container {
  background: url('pattern.svg');
}

.button {
  color: #fff;
  background-color: #5cb85c;
  font-size: 16px;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  display: inline-block;
  padding: 7px 0;
  margin: 10px auto;
  border: 1px solid #4cae4c;
  cursor: pointer;
}

.navbar {
  background: rgba(252,90,44,.89);
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .zipcode-container {
  flex-direction: row;
}
.navbar .zipcode-container .button{
  margin: 10px;
}

a {
  text-decoration: none;
}

.forecast-header {
  font-size: 65px;
  color: #333;
  font-weight: 100;
  text-align: center;
}

.forecast-container {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 35px;
}
.weather {
  height: 130px;
}

.date {
  font-size: 30px;
  color: #333;
  font-weight: 100;
}